# ----- Operating Systems
# OS X
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
# Windows
# https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows image file caches
Thumbs.db
ehthumbs.db

# ----- Python
__pycache__/

# ----- Project
depreciated/
